<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li><a href='blank'><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                <li><a href='navigation.html'><i class="fa"></i><span>Navigate</span></a></li>
                <li><a href='blank'><i class="fa"></i><span>Query</span></a></li>
                <li class="logout"><a href='logout'><i class="fa fa-power-off"></i><span>Logout</span></a></li>
            </ul>
        </div>
    </div>
</div>