<table id="tags-table" class="table table-striped table-bordered" cellspacing="0" width="100%"
       xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <th>Value</th>
    <th>Documents</th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="val: ${values}">
        <td th:text="${val.value}">San Francisco</td>
        <td th:text="${val.documentsTagged}">100</td>
        <td><button th:onclick="'loadTags(\'' + ${tagId} + '=' + ${val.value} + '\');'" type="button" class="btn btn-primary btn-xs">Tags</button></td>
    </tr>
    </tbody>
</table>